<html ng-app="logViewerApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Logger viewer</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css">
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	
<script data-require="angular.js@*" data-semver="1.3.9"
	src="http://code.angularjs.org/1.3.9/angular.js"></script>
<script data-require="angular-animate@*" data-semver="1.3.9"
	src="http://code.angularjs.org/1.3.9/angular-animate.js"></script>
</head>
<body>

	<div ng-controller="logViewerController" class="container">
		<h2 class="page-title">Logger viewer</h2>



		<div class="panel-heading">
			<span class="panel-title">Recent Logs</span>
		</div>

		<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th><a ng-click="sort('date')"> <span>Date</span> <i
							ng-class="selectedCls('date')"></i>
					</a></th>
					<th><input type="text" ng-model="logName" class="form-control"
						placeholder="Log Name"></th>
					<th>

						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button"
								data-toggle="dropdown">
								Level <span ng-bind="level" ></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="level = 'ALL'">ALL</a></li>
								<li><a href="#" ng-click="level = 'TRACE'">TRACE</a></li>
								<li><a href="#" ng-click="level = 'DEBUG'">DEBUG</a></li>
								<li><a href="#" ng-click="level = 'INFO'">INFO</a></li>
								<li><a href="#" ng-click="level = 'WARN'">WARN</a></li>
								<li><a href="#" ng-click="level = 'ERROR'">ERROR</a></li>
								<li><a href="#" ng-click="level = 'FATAL'">FATAL</a></li>
							</ul>
						</div>

					</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody ng-repeat="log in logs">

				<tr>
					<td>{{formatDate(log.date) | date:"MM/dd/yyyy hh:mm:ss" }}</td>
					<td>{{log.logName}}</td>
					<td>{{log.level}}</td>
					<td>{{log.message}}</td>
				</tr>

			</tbody>
			<tfoot>
				<td colspan="4">
					<div class="pagination pull-right">
						<ul>
							<li ng-class="{disabled: currentPage == 0}"><a href
								ng-click="prevPage()">&lt;&lt; Prev</a></li>


							<li ng-class="{disabled: logs.length == 0}"><a href
								ng-click="nextPage()">Next &gt;&gt;</a></li>
						</ul>
					</div>
				</td>
			</tfoot>
		</table>



	</div>


	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>